# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
//Link for updation xcode 4.4
//http://stackoverflow.com/questions/9347722/apple-llvm-4-0-new-features-on-xcode-4-4-literals

//Whether Pushed or Popped From UIViewController in ViewwillDisappear
- (void)viewWillDisappear:(BOOL)animated {
  NSArray *viewControllers = self.navigationController.viewControllers;
  if (viewControllers.count > 1 && [viewControllers objectAtIndex:viewControllers.count-2] == self) {
    // View is disappearing because a new view controller was pushed onto the stack
    NSLog(@"New view controller was pushed");
  } else if ([viewControllers indexOfObject:self] == NSNotFound) {
    // View is disappearing because it was popped from the stack
    NSLog(@"View controller was popped");
  }
}

//keyboard hides UITableViewCell Contents   UITableView Scrolling  
    CGRect frame=CGRectMake(0, 44, self.view.frame.size.width,self.view.frame.size.height);
    frame.size.height=frame.size.height-210;
    [UIView beginAnimations:UIViewAnimationTransitionNone context:nil];
    [UIView setAnimationDuration:0.5];
    [tbl_shippingPayment setFrame:frame];
    [tbl_shippingPayment scrollToRowAtIndexPath:[tbl_shippingPayment indexPathForCell:(UITableViewCell *)[[[textField superview]superview]superview]]  atScrollPosition:UITableViewScrollPositionTop animated:YES];
    [UIView commitAnimations];   
//Fix  syntax Intelligence Error
//http://stackoverflow.com/questions/2138047/xcode-code-loses-syntax-coloring


